<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FANIA</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/main.css">
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <nav>
    <ul>
      <li id="first"><a href="/artists/list_artists">A R T I S T S</a></li>
      <li id="second"><a href="/albums/list_albums">A L B U M S</a></li>
      <li id="third"><a href="/artists/artist_of_the_week">&#9733; O F T H E W E E K</a></li>
      
    </ul>
  </nav>

  <content>
  <%= yield %>
  </content>

  <footer>
    <ul>
      <li><a href="/home">H O M E</a></li>
    </ul>
  </footer>
  </body>
</html>
