<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FANIA</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/main.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <nav>
    <ul>
      <li>F U T U R E H O M E O F N A V</li>
      <li>F U T U R E H O M E O F N A V</li>
    </ul>
  </nav>

  <content>
  <%= yield %>
  </content>

  <footer>
  </footer>
  </body>
</html>

