<% x = Artist.find(params["number"].to_i)%>

Here Are The <%= x.name %> Listings:

  <ul>  
    <%x.find_albums.each do |object| %>
    <li>
      <%= object.title%>
    </li>
    <% end %>
  </ul> 
  <br />
<p><a href="/artists/list_artists">Choose Another Artist?</a></p>

